﻿article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { 
    display: block; 
}

audio, canvas, video { 
    display: inline-block;
    *display: inline; 
    *zoom: 1;
}

audio:not([controls]) { 
    display: none; 
}

[hidden] { 
    display: none; 
}

html { 
    font-size:12px; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

html, button, input, select, textarea { 
    color: #1d1d1d; 
}


input[type="text"], input[type="email"], input[type="password"], textarea{
    background: #fcfcfc;
    font-size:12px; 
    padding:5px;
    border: 1px solid #dedede;
    padding:10px;
    margin:5px 0px 5px 0px;
}


input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus{
    transition:all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border:1px solid #1d1d1d;
    outline:0;
    background-color:white;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, textarea:hover{
    transition: border 0.3s ease-in-out;
    -moz-transition: border 0.3s ease-in-out;
    -webkit-transition: border 0.3s ease-in-out;
    -o-transition: border 0.3s ease-in-out;
    border:1px solid #adadad;
}

::-moz-selection { 
    background: #e73527; 
    color: #fff; text-shadow: none;
}

::selection { 
    background: #e73527; 
    color: #fff; 
    text-shadow: none; 
}

a { 
    color:#1d1d1d; outline:0;
    text-decoration:none;
}

a:visited { 
    color: #1d1d1d;  
}

a:hover {
    color: #1d1d1d; 
    text-decoration:underline; 
}

a:focus { 
    outline:0; 
}

a:hover, a:active { 
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted; 
}

b, strong {
    font-weight: bold; 
}

blockquote {
    margin: 1em 40px; 
}

dfn {
    font-style: italic;
}

hr {
    display: block; 
    height: 1px; 
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0; 
    padding: 0;
}

ins { 
    background: #ff9; 
    color: #000; 
    text-decoration: none; 
}

mark { 
    background: #ff0; 
    color: #000; 
    font-style: italic; 
    font-weight: bold;
}

pre, code, kbd, samp { 
    font-size: 1em;
}

pre { 
    white-space: pre; 
    white-space: pre-wrap;
    word-wrap: break-word; 
}

q { 
    quotes: none; 
}

q:before, q:after {
    content: ""; content: none; 
}

small { 
    font-size: 85%; 
}

sub, sup {
    font-size: 75%;
    line-height: 0; 
    position: relative; 
    vertical-align: baseline; 
}

sup { 
    top: -0.5em; 
}

sub {
    bottom: -0.25em; 
}

p{
    margin:0; 
    padding:0;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-margin-start:0px;
    -webkit-margin-end: 0px;
}

ul, ol { 
    margin:0; 
    padding: 0 0 0 0px; 
    list-style-type:none;
}

dd { 
    margin: 0 0 0 40px; 
}

nav ul, nav ol {
    list-style: none; 
    list-style-image: none;
    margin: 0; 
    padding: 0; 
}

img { 
    border: 0; 
    -ms-interpolation-mode: bicubic; 
    vertical-align: middle; 
}

svg:not(:root) {
    overflow: hidden; 
}

figure { 
    margin: 0; 
}

form { 
    margin: 0; 
}

fieldset { 
    border: 0; 
    margin: 0; 
    padding: 0; 
}

label { 
    cursor: pointer; 
}

legend { 
    border: 0; 
    *margin-left: -7px; 
    padding: 0; 
    white-space: normal; 
}

button, input, select, textarea { 
    font-size: 100%; 
    margin: 0; 
    vertical-align: baseline; 
    *vertical-align: middle; 
}

button, input { 
    line-height: normal; 
}

button, input[type="button"], 
input[type="reset"],
input[type="submit"] { 
    cursor: pointer; 
    -webkit-appearance: button; 
    *overflow: visible; 
}

button[disabled], input[disabled] {
     cursor: default;
}

input[type="checkbox"], 
input[type="radio"] { 
    box-sizing: border-box;
    padding: 0; 
    *width: 13px; 
    *height: 13px; 
}

input[type="search"] { 
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; 
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button { 
    -webkit-appearance: none; 
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0; 
    padding: 0; 
}

textarea { 
    overflow: auto; 
    vertical-align: top; 
    resize: vertical;
}
 

table { 
    border-collapse: collapse; 
    border-spacing: 0; 
}

td { 
    vertical-align: top; 
}

.chromeframe { 
    margin: 0.2em 0; 
    background: #ccc; 
    color: black;
    padding: 0.2em 0; 
}


h1,h2, h3, h4, h5, h6{
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-margin-start:0;
    -webkit-margin-end: 0px; 
    margin:0;
}


h2{
    /*text-transform:uppercase;*/ 
    font-weight:900; 
    font-size:28px; 
    letter-spacing:-1px; 
    word-spacing:5px;
}

h3 {
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-margin-start:0px;
    -webkit-margin-end: 0px;
}

h4{
    /*text-transform:uppercase;*/ 
    font-weight:900; 
    font-size:20px; 
    letter-spacing:-1px; 
    color:#e73527;
}

h5{
    /*text-transform:uppercase;*/
    font-weight:100; 
    font-size:11px; 
    font-style:italic; 
}
          
